/** {
    border: 1px solid red;
}*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/default.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    webkit-transition: background-image 1.5s;
    transition: background-image 1.5s;
}

.fourloops {
    background-color: black;
    color: white;
    width: 25em;
    height: 5em;
    border-radius: 0 0 5em 0;
    -webkit-filter: opacity(.6);
    filter: opacity(.6);
    position: fixed;
    top: 0;
    left: 0;
}

.fourloops p{
    /*position: absolute;*/
    bottom: 0;
    right: 13%;
    font-size: 1.6em;
    font-family: sans-serif;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    z-index: 2;
}

.map1 {
    height: 50%;
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    webkit-transition: margin-top .7s;
    transition: margin-top .7s;
    z-index: 3;
}

.maphide{
    margin-top: -51vh;
    webkit-transition: margin-top .7s;
    transition: margin-top .7s;
}

.info {
    height: 50%;
    width: 40%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    background-color: white;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    color: black;
    webkit-transition: .7s linear;
    transition: .7s linear;
    text-align: center;
}

.infoShow {
    -webkit-filter: opacity(.7);
    filter: opacity(.7);

}

.weatherInfo {
    padding: 0;
    margin: .5em;
    font-family: sans-serif;
    font-size: 2em;
}

#area {
    padding-top: .7em;
    font-size: 2.5em;
    font-weight: bold;
}

#buttonDiv {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    position: fixed;
    bottom: 10vh;
    left: 25%;
}

.button {
    margin: 2%;
    font-size: 1.5em;
    background-color: white;
    height: 3em;
    width: 5em;
    border-radius: 10px;
    border: none;
    -webkit-filter: opacity(0.6);
    filter: opacity(0.6);
}

.button:focus {
    outline:0;
}

.button:hover {
    -webkit-filter: opacity(0.8);
    filter: opacity(0.8);
}

.hideButton {
    display: block;
    margin: auto;
    width: 8em;
    height: 2em;
    z-index: 1;
    webkit-transition: top .7s;
    transition: top .7s;
}

.hidden{
    top: -1.4em;
    webkit-transition: top .7s;
    transition: top .7s;
}



@media only screen and (max-device-width: 768px) {
        .map1 {
            width: 100%;
            margin-top: 0;
        }
        .info {
            width: 100%;
        }
        #buttonDiv {
            width: 80%;
            left: 10%;
        }
        .button {
            width: 35vw;
            height: 14vw
        }
        .hideButton {
            width: 50vw;
        }
        .fourloops{
            visibility: hidden;
        }

        .maphide{
            margin-top: -51vh;
        }
    }
