/** {
    border: 1px solid red;
}*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/default.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    webkit-transition: background-image 1.5s;
    transition: background-image 1.5s;
}

.fourloops {
    background-color: black;
    color: white;
    width: 65em;
    height: 30em;
    border-radius: 5em;
    -webkit-filter: opacity(.6);
    filter: opacity(.6);
    position: fixed;
    top: -60%;
    right: 70%;
}

.fourloops p{
    position: absolute;
    bottom: 0;
    right: 4%;
    font-size: 1.6em;
    font-family: sans-serif;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    z-index: 2;
}

.map1 {
    height: 50%;
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    webkit-transition: margin-top .7s;
    transition: margin-top .7s;
    z-index: 3;
}

.info {
    height: 50%;
    width: 40%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    background-color: white;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    color: black;
    webkit-transition: opacity 2s linear;
    transition: opacity 2s linear;
}

.infoShow {
    transition: opacity 2s linear;
    webkit-transition: opacity 2s linear;

    -webkit-filter: opacity(.5);
    filter: opacity(.5);

}

.infoShow:hover {
    transition: opacity 2s linear;
    webkit-transition: opacity 2s linear;

    -webkit-filter: opacity(1);
    filter: opacity(1);

}

#buttonDiv {
    width: 46%;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    position: absolute;
    top: 70%;
    left: 27.5%;
}

.button {
    margin: 2%;
    font-size: 1.5em;
    background-color: white;
    height: 3em;
    width: 5em;
    border-radius: 10px;
    border: none;
    -webkit-filter: opacity(0.6);
    filter: opacity(0.6);
}

.button:focus {
    outline:0;
}

.button:hover {
    -webkit-filter: opacity(0.8);
    filter: opacity(0.8);
}

.hideButton {
    position: absolute;
    top: 64%;
    left: 40%;
    width: 8em;
    height: 2em;
    z-index: 1;
    webkit-transition: top .7s;
    transition: top .7s;
}

.hidden{
    top: -1.4em;
    webkit-transition: top .7s;
    transition: top .7s;
}

.maphide{
    margin-top: -27%;
    webkit-transition: margin-top .7s;
    transition: margin-top .7s;
}
